
//Required
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/maps";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/root";

$theme-colors: map-remove($theme-colors, "info", "light", "dark");

// Optional
@import "/node_modules/bootstrap/scss/tables";

table {
  caption-side: bottom;
  border-collapse: collapse;
  outline: none;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}


.markdown-it-table-beautiful {
  position: relative;
  margin-top: 25x;
  margin: 20px 0;

  .md-table-tip{

    button{
      position:absolute;
      padding: 0px;
      height: 20px;
      width: 20px;
      top: -20px;
      right: 0px;
      background-color: #ffffff;
      border: none
    }

    svg{
      width: 18px;
      height: 18px;
    }
  }
}

.markdown-it-table-beautiful.md-focus{

  .md-table-tip{
    display: block;
  }
}