#yali-toolTip>.yali-suggestionFloat ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#yali-toolTip>.yali-suggestionFloat {
    display: none;
    color: rgb(51, 51, 51);
    min-width: 160px;
    position: absolute;
    border-radius: 6px;
    background-color: white;
    max-height: 167px;
    line-height: 26px;
    margin: 0;
    overflow: auto;
    padding: 6px 0;
    box-shadow: rgb(15 15 15 / 3%) 0 0 0 1px, rgb(15 15 15 / 4%) 0 3px 6px, rgb(15 15 15 / 5%) 0 9px 24px;
}

#yali-toolTip>.yali-suggestionFloat[show] {
    display: block;
}

#yali-toolTip>.yali-suggestionFloat .icon{
    padding: 0 5px;
}

.yali-suggestionFloat .suggestion-item.activate-item,
.yali-suggestionFloat .suggestion-item:hover{
    background-color: #f6f6f6;
}

:not(.cm-editor *)::selection {
    background-color: var(--yali-selection-background-color);
}