html.dark{
    --yali-background-color:#333333;
    --yali-text-color:#CFD3DC;
    --yali-icon-color:#e83e8c;
    --yali-md-focus-before-color:#C8C8C8;
    --yali-selection-color:#CFD3DC;
    --yali-selection-background-color:#4183C4;

    --yali-pre-background-color:#282C34;

    --yali-blockquote-color:#777777;
    --yali-blockquote-border-color:#409EFF;

    --yali-font-before-color:#C7C5C5;

    --yali-code-font-color:#e83e8c;
    --yali-code-font-background-color:#424243;
    --yali-code-font-border-color:#636466;

    --yali-bold-font-color:#e83e8c;
    --yali-underline-font-color:#e83e8c;
    --yali-italic-font-color:#e83e8c;
    --yali-deleteline-font-color:#e83e8c;


    --yali-outline-item-hover-background-color:#262727;
    
    --yali-scrollbar-thumb-background-color:#1D1E1F;
    --yali-scrollbar-track-background-color:#333333;

    --yali-mathjax-hover--background-color:#282C34;

}