@import './var';

:root{
    --yali-background-color:#ffffff;
    --yali-text-color:#000000;
    --yali-icon-color:#000000;
    --yali-md-focus-before-color:#C8C8C8;
    
    --yali-selection-background-color:#d2e2ee;

    --yali-pre-background-color:#f6f6f6;

    --yali-blockquote-color:#777777;

    --yali-font-before-color:#C7C5C5;

    --yali-code-font-color:#e83e8c;
    --yali-code-font-background-color:#f6f6f6;
    --yali-code-font-border-color:#e7eaed;

    --yali-bold-font-color:#000000;
    --yali-underline-font-color:#000000;
    --yali-italic-font-color:#000000;
    --yali-deleteline-font-color:#000000;

    --yali-blockquote-border-color:#dfe2e5;


    --yali-outline-item-hover-background-color:#EEEEEE;
    
    --yali-scrollbar-thumb-background-color:#CCC9C9;
    --yali-scrollbar-track-background-color:#F5F5F5;

    --yali-mathjax-hover--background-color:#F5F6F7;
}





