$--yali-background-color:#ffffff;
$--yali-md-focus-before-color:#C8C8C8;
$--yali-selection-color:#d2e2ee;

$--yali-pre-background-color:#f6f6f6;

$--yali-blockquote-color:#777777;

$--yali-font-before-color:#C7C5C5;

$--yali-code-font-color:#e83e8c;
$--yali-code-font-background-color:#f6f6f6;