.YaLi-ir{
    outline: none;
    padding-bottom:50px
}

.YaLi-ir::after{
    content: "";
    font-size: 0;
    display: block;
    height: 0;
}

.YaLi-ir h1,.YaLi-ir h2,.YaLi-ir h3,.YaLi-ir h4,.YaLi-ir h5{
    position: relative;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}



.YaLi-ir h1{
    font-size: 2em;
    border-bottom: 1px solid #eee;
}

.YaLi-ir h2{
    font-size: 1.75em;
    border-bottom: 1px solid #eee;
}

.YaLi-ir h3{
    font-size: 1.5em;
    
}

.YaLi-ir h4{
    font-size: 1.25em;
}
.YaLi-ir h5{
    font-size: 1.0em;
}
.YaLi-ir h6{
    font-size: 0.8em;
}

.YaLi-ir p:empty::after{
    content: '\200B';
}

.YaLi-ir code{
    border: 1px solid #e7eaed;
    border-radius: 3px;
    color: #e83e8c;
    background-color: #f6f6f6;
    font-size:large;
}

.YaLi-ir u{
    color: palevioletred;
}

