.md-code-tooltip{
    position: absolute;
    display: none;
    right: 0px;
    bottom: -35px;
}
  
pre.markdown-it-code-beautiful{
  border: 1px solid #e7eaed;
}

.md-focus .md-code-tooltip{
  display: block;
  z-index: 1;
}
  
div[md-like="fence"]{
  color: #a78405;
  width: max-content;
}
    
.markdown-it-code-beautiful{
  position: relative;
  margin-bottom: 15px;
}
  
