@import './markdown-it-toc-beautiful/index.css';
@import './markdown-it-link-beautiful/index.css';
@import './markdown-it-image-beautiful/index.css';
@import './markdown-it-codemirror-beautiful/index.css';
@import './markdown-it-mathjax-beautiful/index.css';
@import './markdown-it-table-beautiful/index.scss';
@import './markdown-it-highlight-beautiful/index.scss';

// Required
//@import "/node_modules/bootstrap/scss/functions";
//@import "/node_modules/bootstrap/scss/variables";
//@import "/node_modules/bootstrap/scss/maps";
//@import "/node_modules/bootstrap/scss/mixins";
//@import "/node_modules/bootstrap/scss/root";

//$theme-colors: map-remove($theme-colors, "info", "light", "dark");

// Optional
//@import "/node_modules/bootstrap/scss/tables";
//@import "/node_modules/bootstrap/scss/bootstrap.scss";



.md-like {
    display: inline;
    color: #C7C5C5;
}

.md-hr {
    background-color: #C7C5C5;
}

.md-hr.md-focus {
    background-color:#6eace2;
    hr{
        height: 2px;
    }
}