.markdown-it-toc-beautiful p{
    margin: 0;
    padding: 0 20px;
}


.markdown-it-toc-beautiful.md-focus .md-toc-tip{
    display: block;
}

.md-toc-tip{
    font-weight: 700;
}

.md-toc-tip span{
    color: #000;
}
.md-toc-item{
    display: block;
}

.md-toc-item a{
    color: #4183C4;
    cursor: pointer;
}



h1.md-focus::before{
    color: #ddd;
    border: 1px solid;
    border-radius: 3px;
    position: absolute;
    left: -1.642857143rem;
    top: 1rem;
    float: left;
    font-size: 11px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: bottom;
    line-height: normal;
    content: "h1";
}

h2.md-focus::before{
    color: #ddd;
    border: 1px solid;
    border-radius: 3px;
    position: absolute;
    left: -1.642857143rem;
    top: 0.8rem;
    float: left;
    font-size: 11px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: bottom;
    line-height: normal;
    content: "h2";
}

h3.md-focus::before{
    color: #ddd;
    border: 1px solid;
    border-radius: 3px;
    position: absolute;
    left: -1.642857143rem;
    top: 0.7rem;
    float: left;
    font-size: 11px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: bottom;
    line-height: normal;
    content: "h3";
}

h4.md-focus::before{
    color: #ddd;
    border: 1px solid;
    border-radius: 3px;
    position: absolute;
    left: -1.642857143rem;
    top: .357142857rem;
    float: left;
    font-size: 11px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: bottom;
    line-height: normal;
    content: "h4";
}

h5.md-focus::before{
    color: #ddd;
    border: 1px solid;
    border-radius: 3px;
    position: absolute;
    left: -1.642857143rem;
    top: .357142857rem;
    float: left;
    font-size: 11px;
    font-weight: 500;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: bottom;
    line-height: normal;
    content: "h5";
}

.md-toc-h1 {
    margin-left: 0;
    font-weight: 700;
}

.md-toc-h2 {
    margin-left: 2em;
}

.md-toc-h3 {
    margin-left: 3.5em;
}

.md-toc-h4 {
    margin-left: 5em;
}

.md-toc-h5 {
    margin-left: 6.5em;
}

.md-toc-h6 {
    margin-left: 8em;
}

.markdown-it-toc-beautiful{
    position: relative;
}

.md-toc-tip .toc-delete{
    position:absolute;
    padding: 0px;
    height: 20px;
    width: 20px;
    right: 10px;
    background-color: #ffffff;
    border: 1px solid #e7eaed;
}

